<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DomClick</title>
</head>
<body>
    {% if submitted %}
        <h1>Ваша заяка успешно отправлена</h1>
    {% else %}
        <h1>Заполните форму по заявке</h1>
        <br/><br/>
        <form action="" method="post">
            {% csrf_token %}

            {{ form.as_p }}
            <h2>ID чата в тг нужно ввести если хотите получать уведомления от бота.</h2>
            <h2> Для того чтобы узнать ID чата нужно написать боту @Sberclickbot(всё что угодно)</h2>

            <input type="submit" value="Submit">
        </form>
    {% endif %}


</body>
</html>